html {
  font-size: 100%;
}

body {
  font-family: "メイリオ", "Meiryo", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", "ＭＳ Ｐゴシック", "MS PGothic" "MS UI Gothic",
    "Helvetica", "Arial", sans-serif;
}

/* Base */
code {
  display: inline-block;
  padding: 0.1em 0.25em;
  color: #444;
  background-color: #e7edf3;
  border-radius: 3px;
  border: solid 1px #d6dde4;
}

iframe {
  width: 100%;
}

figure, blockquote {
  margin: 0;
}

blockquote {
  color: #727171;
  padding: 0 0 0 0.5em;
  border-left: solid 3px black;
  font-style: italic;
}

.hljs {
  font-size: 1rem;
}

/* layout */
.post-block {
  margin-top: 1rem;
}

.post-block__title {
  font-size: 1.3rem;
}

.post-block__publishedAt {
  margin-top: -0.15rem;
  font-size: 0.8rem;
  color: #a5aaaf;
}

.layout {
  margin: 0 auto;
  max-width: 620px;
  padding: 0 0.3rem 2rem;
}

.layout h1 {
  font-size: 1.5rem;
}

.layout img {
  width: 100%;
}
