html {
  font-size: 100%;
}

body {
  font-family: "メイリオ", "Meiryo", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", "ＭＳ Ｐゴシック", "MS PGothic" "MS UI Gothic",
    "Helvetica", "Arial", sans-serif;
}

.post-block {
  margin-top: 1rem;
}

.post-block__title {
  font-size: 1.4rem;
}

.post-block__publishedAt {
  margin-top: -0.15rem;
  font-size: 1rem;
}

.layout {
  margin: 0 auto;
  max-width: 620px;
  padding: 0 0.3rem 2rem;
}

.layout h1 {
  font-size: 1.5rem;
}

.layout img {
  width: 100%;
}

.hljs {
  font-size: 1.1rem;
}
